<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Logged in as <strong><%= current_user.email %></strong>.
   <%= link_to "Sign Out", signout_path,:class => 'navbar-link' %>
<% else %>
   <p><strong>Sign in through one of these services:</strong></p>
  <p>
	<a href="/auth/twitter" class="auth_provider">
  	<%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %></a>
	
	<a href="/auth/facebook" class="auth_provider">  
  	<%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %></a>
  	
  	<a href="/auth/linkedin" class="auth_provider">
  	<%= image_tag "linkedin_64.png", :size => "64x64", :alt => "LinkedIn" %></a>
  	</a>  
  </p>
<% end %>

<div class="clear"></div>
</body>
</html>
